.center{
    display: flex;
    flex-direction: row;
    height: 600px;
}
.left {
    width: 50%;
    outline: none;
    font-size: 20px;
    padding-top: 30px;
    resize: none;
    font-family: cursive; 

    color: aliceblue;
     background-color: black;
}
.right {
    background-color: rgb(232, 227, 227);
    width: 50%;
    color: black;
    outline: none;
    font-size: 20px;

     font-family: cursive; 
     border: 2px black;
     border-style:outset;
    
}
 .head{
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    padding: 0%;
    margin: 10px;
    font-family:monospace;
 }